<div class="weather-body">
<div class="weather">
      <ul class="week">
        <li class="day">
          <div class="day-of-the-week">きょう</div>
          <div class="weather-icon">
           <span><div id="icon0"></div></span>
          </div>
          <div class="temperature">
              <div id="temp0"></div>
          </div>
        </li>
        <li class="day">
          <div class="day-of-the-week">あした</div>
          <div class="weather-icon">
               <div id="icon1"></div>
          </div>
          <div class="temperature">
            <div id="temp1"></div>
          </div>
        </li>
        <li class="day">
          <div class="day-of-the-week">あさって</div>
          <div class="weather-icon">
             <div id="icon2"></div>
          </div>
          <div class="temperature">
            <div id="temp2"></div>
          </div>
        </li>
        <li class="day">
          <div class="day-of-the-week">3日ご</div>
          <div class="weather-icon">
               <div id="icon3"></div>
          </div>
          <div class="temperature">
            <div id="temp3"></div>
          </div>
        </li>
      </ul>
    </div>
 </div>
