/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 *= require_self
 *= require_tree .

 @import "bootstrap";

    /* typography */

    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
      }
  
      h1 {
        font-size: 3em;
        letter-spacing: -2px;
        padding-top: 60px;
        text-align: center;
      }
  
      h2 {
        font-size: 1.2em;
        letter-spacing: -1px;
        font-weight: normal;
        color: #777;
      }
  
      p {
        font-size: 1.3em;
        line-height: 1.7em;
      }
    
      /* universal */
  
      body {
        padding-top: 60px;
      }
  
      section {
        overflow: auto;
      }
  
      textarea {
        resize: vertical;
      }
  
      .center {
        text-align: center;
      }
  
      .center h1 {
        margin-bottom: 10px;
      }
  
      // ログイン画面編集

      .login-form {
        margin-bottom: 30px;
      }

  // ユーザープロフィール画面編集
  
  .p-profile  {
    text-align: center;
          }
  
      .profile-items {
  
  margin: 40px 80px;
      }
  
      .profile-cordinates {
  
        margin: 40px 80px;
  
      }
  
  
  /* header-logo */
  
  *{
    padding: 0;
    margin: 0;
  }
  
  hr {
    margin-bottom: 15px;
    }
  
  ul, li {
    list-style: none;
  }
  
  ul .li {
    text-overflow: ellipsis;
    list-style: none;
  }
  
    
  // Cordinateのedit関連
  
  .cordinate_edit_picture {
    float: left;
  }
  
  .images {
    margin-top: 50px;
  }
  
  .image-text { 
  padding-left: 55px;
  
  }
  
  .item-pictures {
  margin-top: 50px;
  }

  .users_profile {
    margin-bottom: 70px;
  }
  
  .cordinate_sample {
    float: left;
    margin-left: 5px;
    margin-right: 0px;
  }
  
  .cordinate_responses {
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .cordinate_comments {
    margin-top: 35px ;
  }
  
  .label-form {
    width: 100%;
  }
  
  .whether-reports {
    display: flex;
      flex-direction: row;
  }

  .whether_position {      
    margin-top: -100px;
    float: left;
    }



  
  // コーデとアイテムのliのフォーマット
  // columnは上下
  
  .cordinate_lists  {
    flex-direction: column;
    margin-left:15px;
  }
  
  .item_image, .cordinate_image {
  float: left;
  }
  
  #枠のサイズは統一されたけど、写真が大きいとどうにもならない。。アップロード時点から写真のサイズを統一するべき。
  
  .img_fit {
    max-width:225px;
    max-height:300px;
  }
  
  #クロス枠線
  /* ダブル囲み枠 */
  .item_each_images,.cordinate_each_images,.item_each_images,.item_make,.cordinate_make {
    float: left;
    padding: 0.5em 1em;
    border: double 5px #4ec4d3;
    max-width: 342px;
  }
  
  .item_show_lists, .cordinate_show_lists, .item_make, .cordinate_make   {
    float: left;
    margin-top:  10px;
    margin-left: 30px;
    font-size:  1.3rem;
    position: relative;
    padding: 2.5em 1em .5em;
    width: 50%;
    background-color: #badcad; /* 背景色 */
    color: #555; /* 文字色 */
    box-shadow: 0 0 10px 10px #badcad; /* 影 */
  }
  
  .comment_box {
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    float: left;
    margin-bottom: 15px;
  }
  .comment_box:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }

  /* メモ　クリップ　Ａ */
  .clip-box {
    position: relative;
    margin: 1em auto;
    padding: 15px 35px 15px 25px;
    width: 90%; /* ボックス幅 */
    background-color: #fff; /* ボックス背景色 */
    color: #555555; /* 文章色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 1px 1px 1px #acacac; /* 影の色 */
    float: left;
   }
   .clip-box::before {
    position: absolute;
    content: '';
    top: -15px;
    right: 10px;
    height: 55px;
    width: 15px;
    border: 3px solid #555555; /*クリップ色 */
    background-color: none;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #999;
    transform: rotate(10deg);
    z-index: 1;
   }
   .clip-box::after {
    position: absolute;
    content: '';
    top: 0px;
    width: 10px;
    right: 20px;
    border: solid 5px #fff; /*背景色と同じ色にする*/
    z-index: 2;
   }
  
  .cordinate_review {
  margin-left: 30px;
    float: left;
   }
  
  .item_show_lists li {
    margin-top:  20px;
  }
  
  .items_each_lists li, .cordinates_each_lists li {
    font-size: 1.2rem;
    margin-top: 3px;
  }
  
  
  .cordinate_edit_form {
    float: left;
  }
  
  .header-logo {      
      padding: 15px;                     
    }
  
    .header-logo h2 {      
      font-size: 20px;                        
      color: #000;
      text-decoration: none;
      margin: -23px -13px 0px 0px;
      float: right;             
    }


    .header-logo .site-logo {      
      border: none;
      margin: -60px 60px 0px 0px;
      float: right;             
    }
  
    .header-logo:after {
      content:  "";
      display: block;
      clear: both;
    }
  
  /*ページネーション自体のデザイン*/
  .pagination>li>a {
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }
  
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }
  
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 15px;    /*角を丸くする*/
  }
  
  
      $gray-medium-light: #eaeaea;
  
      @mixin box_sizing {
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        box-sizing:         border-box;
      }
  
      /* miscellaneous */
  
      .debug_dump {
        clear: both;
        float: left;
        width: 100%;
        margin-top: 45px;
        @include box_sizing;
      }
  
      // ボタン幅の調整
      .btn {
        margin-top: 20px;
      }
  
       // テキストボックス幅の調整
      input[type="text"] {
        margin-top: 13px;
  
      }
      /* forms */
      textarea, select, a.uneditable-input  {
        border: 1.5px solid #bbb;
        width: 50%;
        display: inline-block;
        margin-top: 35px;
      }
  
      #error_explanation {
        color: red;
        ul {
          color: red;
          margin: 0 0 30px 0;
        }
      }
  
      #error_explanation {
        color: red;
        ul {
          color: red;
          margin: 0 0 30px 0;
        }
      }
  
      /* header */
  
      #logo {
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-top: 9px;
        font-weight: bold;
      }
  
      #logo:hover {
        color: #fff;
        text-decoration: none;
      }
  
      /* footer */
  
      footer {
        margin-top: 45px;
        padding-top: 5px;
        border-top: 1px solid #eaeaea;
        color: #777;
      }
  
      footer a {
        color: #555;
      }
  
      footer a:hover {
        color: #222;
      }
  
      footer small {
        float: left;
      }
  
      footer ul {
        float: right;
        list-style: none;
      }
  
      footer ul li {
        float: left;
        margin-left: 15px;
      }
  
      /* sidebar */
  
      aside {
        section.user_info {
          margin-top: 20px;
        }
        section {
          padding: 10px 0;
          margin-top: 20px;
          &:first-child {
            border: 0;
            padding-top: 0;
          }
          span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
          }
          h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
          }
        }
      }
  
      .gravatar {
        float: left;
        margin-right: 10px;
      }
  
      .gravatar_edit {
        margin-top: 15px;
      }
  
  
      .checkbox {
        margin-top: -10px;
        margin-bottom: 10px;
        span {
          margin-left: 20px;
          font-weight: normal;
        }
      }
  
      #session_remember_me {
        width: auto;
        margin-left: 0;
      }
  
    @import "bootstrap";  
    /* mixins, variables, etc. */  
    $grayMediumLight: #eaeaea;
    /* miscellaneous */  
    .wheather_container {
      float: left;  
    }
  
// モーダルの実装

    /* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}



 .alert {
  background-color: lightcoral;  
  color: white;
  text-align: center;
}


.notice {
  background-color: lightgreen;  
  color: white;
  text-align: center;
}


@media (min-width: 992px) {
  .title {
    font-size: 7.0rem;
  }
 }
 // 中デバイス（タブレット, 992px 未満）
 @media (max-width: 991.98px) {
  .title {
    font-size: 4.0rem;
  }
 }
 // 小デバイス（横向きモバイル, 768px 未満）
 @media (max-width: 767.98px) {
  .title {
    font-size: 2.0rem;
  }
 }
 // @include media-breakpoint-up(sm) {
 // 極小デバイス（縦向きモバイル, 576px 未満）
 @media (max-width: 575.98px) {
  .title {
    font-size: 1.0rem;
  }
 }

 .profile {
margin: 15px 5px;
  
 }


 .comment_image {

  float: left;
 }

 .comment_like_btn {

margin-left: 16px;
 }


//  ハンバーガーメニュー

body {
  font-size: 16px;
  font-family: 'Roboto',serif ;
  // background:#f8f8ff;
  background:#fffff0;
  
}

#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;

  
  > div {
    position: relative;
    width: 36px;
  }
  span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: #333;
    position: absolute;
    transition: transform .6s ease-in-out, top .5s ease;
    
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 14px;
    }
    &:nth-child(3) {
      top: 28px;
    }
  }

  &:hover span:nth-child(1) {
    top: 4px;
  }
  &:hover span:nth-child(3) {
    top: 23px;
  }

}

.open {
  #nav-toggle span {
    background: #fff;
    
    &:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: 15px;
      width: 0;
      left: 50%;
    }
    &:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
    }
  }
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}
#container {
  z-index: 900;
}

#gloval-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}


#gloval-nav {
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: color .6s ease;
    
    &:hover {
      color: #666;
    }
  }
  
  ul {
    list-style: none;
    
    li {
      opacity: 0;
      transform: translateX(200px);
      transition:  transform .6s ease, opacity .2s ease;

      &:nth-child(2) {
        transition-delay: .15s;
      }
      &:nth-child(3) {
        transition-delay: .3s;
      }
      &:nth-child(4) {
        transition-delay: .45s;
      }
      &:nth-child(5) {
        transition-delay: .6s;
      }
      &:nth-child(6) {
        transition-delay: .75s;
      }
      &:nth-child(7) {
        transition-delay: .9s;
      }
    }
  }
} 

/* open */
.open {
  overflow: hidden;
  
  #gloval-nav {
    visibility: visible;
    opacity: 1;
  }

  #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition:  transform 1s ease, opacity .9s ease;
  }
}


#gloval-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}
.open #gloval-nav {
  visibility: visible;
  opacity: 1;
}

  // @media (max-width: 576px) {
  //   .is-hidden {
  //     visibility: hidden;
  //   }
  // }


  // @media (max-width: 992px) {
  //   .is-hidden {
  //     visibility: hidden;
  //   }
  // }

  // @media (max-width: 768px) {
  //   .is-hidden {
  //     visibility: hidden;
  //   }
  // }


// モーダル


  ul li a:hover {
    opacity: 0.8;
  }

ul li a img {
    width: 200px;
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }

.bigimg {
    position: absolute;
    width: 80%;
    max-width: 800px;
    top: 80px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

.close-btn {
    color: #fff;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 0;
  }

.close-btn a {
    color: #fff;
    text-decoration: none;
  }
